<?xml version="1.0"?>
<!--
/**
 * Cartin24
 * @package    Cartin24_Productgrid
 * @copyright  Copyright (c) 2015-2016 Cartin24. (http://www.cartin24.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>  
	<modules>
		<Cartin24_Productgrid>
			<version>1.0.0</version>
		</Cartin24_Productgrid>
	</modules>
    <global>
		 <models>
            <productgrid>
                <class>Cartin24_Productgrid_Model</class> 
            </productgrid>
        </models>
       <helpers>
            <productgrid>
                <class>Cartin24_Productgrid_Helper</class> 
            </productgrid>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Cartin24_Productgrid_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productgrid>
                                            <title>Advanced Product Grid</title>
                                        </productgrid>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
